
<div class="w3-light-grey">
<div class="center ">


</div>
<button class="w3-button" style="margin-left: 250px"> 
  <a routerLink="/events/add">Add Event</a>
</button>
  <div class="w3-content w3-main" style="margin: auto" >


<div *ngFor="let event of events" class="w3-white" style="width: 900px">
  <!-- <app-event-details [event]='event'></app-event-details> -->
    
  <!-- <div *ngIf="events"> -->
    <div>
      <label>Name: </label> {{event.name}}
    </div>
    <div>
      <label>Location: </label> {{event.location}}
    </div>
    <div>
        <label>Start Date: </label> {{event.startDate }}
    </div>
    <div>
        <label>End Date: </label> {{event.endDate }}
    </div>
    <div>
        <label>Details: </label> {{event.details}}
      </div>
    
    <button (click)="editEvent($event, event)" >Update</button>
    <div *ngIf="editState && eventToEdit.id == event.id">
        <form (ngSubmit)="updateEvent(event, event.id)">

            <div class="form-group">
                <input type="text" class="form-control" id="name" required [(ngModel)]="event.name" name="name" placeholder="Event Name">
              </div>
           
              <div class="form-group">
                <input type="text" class="form-control" id="location" required [(ngModel)]="event.location" name="location" placeholder="Event Location">
              </div>
           
              <div class="form-group">
                <input type="date" class="form-control" id="startDate" required [(ngModel)]="event.startDate" name="startDate" placeholder="Start Date">
              </div>
           
              <div class="form-group">
                <input type="date" class="form-control" id="endDate" required [(ngModel)]="event.endDate" name="endDate" placeholder="End Date">
              </div>
          
              <div class="form-group">
                  <input type="text" class="form-control" id="details" required [(ngModel)]="event.details" name="details" placeholder="Event Details">
                </div>
           
              <button type="submit" class="btn btn-success">Update Event</button>
            

        </form>
    </div>
    <button (click)="deleteEvent(event.id)" >Delete</button>
   
    <!-- <span class="button is-small btn-primary" *ngIf='event.active' (click)='updateActive(false)'>Inactive</span>
   
    <span class="button is-small btn-primary" *ngIf='!event.active' (click)='updateActive(true)'>Active</span>
   
    <span class="button is-small btn-danger" (click)='deleteevent()'>Delete</span> -->
   
    <hr/>
  <!-- </div> -->

</div>
<div style="margin-top:20px;">
  <!-- <button type="button" class="button btn-danger" (click)='deleteevents()'>Delete All</button> -->
</div>
</div>
</div>