<div class="w3-display-container" >
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Panorama_tatier.jpg" style="width:100%;">
    <div class="w3-display-middle w3-container"
           style="bottom:10%;opacity:0.7;width:50%">
          
          <button style="color: #369;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 250%;" class="w3-amber"
            *ngIf = "user"
            (click)= "logout()">
            Logout {{user?.displayName}}</button>
         </div>
    
  </div>
